* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

ul {
    margin: 0;
}

button,
input[type='button'] {
    cursor: pointer;
}

button:focus,
input:focus,
textarea:focus {
    outline: none;
}

input, textarea {
    border: none;
}

button {
    border: none;
    background: none;
}  

img {                         
    max-width: 100%;
    height: auto; 
    justify-content: center; 
    object-fit: cover;
}

p {
    margin: 0;
}

.table-responsive {
    padding-right: 1px;
}

.card {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* ----- Typography ----- */
body {
  font-family: "Montserrat", sans-serif;
   /*font-weight: normal;*/
    font-size: 13px;
    line-height: 1.425;
   
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}







/*-----------------------------------------------------*/
/*                   ELEMENTS                          */
/*-----------------------------------------------------*/


/* ----- Links ----- */
a {
    display: inline-block;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
}

a:hover,
a {
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn-circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

.form-control.rounded-pill {
    border-radius: 50px;
}
.form-control:focus {
    border-color: #5cb3fd;
    box-shadow: 0 0 0 0.2rem rgba(92, 179, 253, 0.25);
}
.card-body i{
color:#5cb3fd;
}


.logout{
    font-size: 1.1px;
}
.logout-link {
    background-color: rgb(235, 48, 89);
    bottom: 0;
    position: absolute;
    width: 100%;
}
 
.logout-link:hover{
    background-color: #161a20;
}

.widget-icon {
    font-size: 2rem;
}
.card {
    border-radius: 1rem;
}
.text-bg-pink {
    background-color: #ffc0cb;
    color: #fff;
}
.text-bg-purple {
    background-color: #800080;
    color: #fff;
}
.text-bg-info {
    background-color: #17a2b8;
    color: #fff;
}
.text-bg-primary {
    background-color: #007bff;
    color: #fff;
}

.card-icon i{
    color:white;
}